.box-categories{
    display: flex;
    flex-wrap: wrap;
    
}
.category{
    display: flex;
    align-items: center;
    margin: .3rem;
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 4rem;
    list-style: none;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover{
        background-color: var(--color-green);
        color: #fff;
        
        
    }

    &__title{
        margin-right: 2rem;
    }
    .al-right{
        display: flex;
    }

}