.tabs{
    margin: 1.5rem 0;
    display: flex;
    border-bottom: 1px solid var(--color-grey1);
    margin-bottom: 1px;
    

    &__item{
        font-family: inherit;
        font-size: 1.2rem;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
        background-color: #D4D9D8;
        margin-right: 2rem;
        margin-bottom: -1px;
        font-weight: bold;
        color: var(--color-grey-dark);
        border: 1px solid #ccc;
        outline: none;
        cursor: pointer;
        padding: 1rem 6rem;

        &--active{
            border-bottom: 1px solid var(--color-green-light-1);
            background-color:  transparent;
        }
   }
}