:root{
    --color-white: #fff;

    --color-grey: #707070;
    --color-grey1: #CBC9C9;

    --color-grey-light: #acacac;
    --color-grey-light-small: #EBEBEB ;
    --color-grey-light-small-2: #f9f9f9 ;

    --color-grey-dark: #5C5C5C;

    --color-green: #06A654;
    --color-green-light: #0BE7B4;
    --color-green-light-1:#F5F8F5;

    --color-pink: #FE49A0;
    --color-yellow: #FED400;
    --color-yellow-light:#FAF2C7;
    
    --color-blue: #3392E3;
    --color-blue-light: #2bd4fa;
    --color-blue-dark: #0D1419;
    
    --color-black: #0000;
}