:root{
    --color-grey: #707070;
    --color-grey-light: #acacac;

    --color-green: #06A654;
    --color-green-light: #0BE7B4;
    --color-green-light-1: #F5F8F5;

    --color-pink: #FE49A0;
    --color-yellow: #FED400;
    
    --color-blue: #3392E3;
    --color-blue-light: #2bd4fa;
    --color-blue-dark: #0D1419;
    
    --color-black: #0000;
}